@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: rgb(70, 70, 70);
    --background-color: white;
}

.dark-theme {
    --text-color: white;
    --background-color: rgb(34, 34, 34);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
    font-family: "Crete Round", serif;
    color: var(--text-color);
}



header {
    padding: 20px 0px;
    align-items: end;
    justify-content: center;
    display: flex;
}

nav {
    align-items: center;
    display: flex;
    font-weight: bolder;
    justify-content: space-around;
    width: 100%;
    gap: 200px;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    margin: 0 10px;
}

nav a:hover {
    color: crimson;
    text-decoration: underline;
}

.lien-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.logo {
    font-size: 25px;
    font-weight: bolder;
    font-family: "Crete Round", serif;
    color: var(--text-color);
}

i {
    color: crimson;
}

.main-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img1 {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
    filter: brightness(0.4);
}

.main-text {
    position: absolute;
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 50px;
    font-family: arial;
    text-align: center;
}

.mesure {
    color: white;
    font-weight: bolder;
}

.button-main {
    position: relative;
    align-items: center;
    background-color: crimson;
    color: white;
    margin-top: -100px;
    padding: 10px 27px;
    border-radius: 3px;
    border: none;
}

.button-main:hover {
    background-color: darkred;
    cursor: pointer;
}

.steps {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    width: 100%;
    margin: 150px 0 120px;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    max-width: 220px;
    text-align: center;
}

.step p {
    font-size: 12px;
}

.steps h2 {
    text-transform: uppercase;
}

.steps img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
}

.Caroussel {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-top: solid 50px rgb(239, 239, 239);
    border-bottom: solid 50px rgb(239, 239, 239);
}

.carousel-items {
    display: flex;
    width: 300%;
}

.carousel-item {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousselBtn {
    z-index: 1;
    width: 100%;
    top: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 3%;
}

.carousselBtn button {
    font-size: 50px;
    width: 60px;
    height: 70px;
    border-radius: 50%;
    border: #ffffff;
    background-color: rgb(62, 62, 62);
    opacity: 70%;
    color: white;
}

.carousselBtn button:hover {
    background-color: crimson;
}

.carousel-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: left;
    padding-left: 20px;
}

.carousel-content a {
    text-decoration: none;
    color: var(--text-color);
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
}

.contact h2 {
    width: 30%;
    border-bottom: crimson 2px solid;
    padding: 15px;
}

.contact  form {
    padding: 20px;
    color: var(--text-color);
}

.form-input{
    padding: 50px;
    display: flex;
    gap: 12px;
    color: var(--text-color);
    font-weight: bold;
    margin-top: -8%;
    align-items: center;
}

.button-ok{
    background-color: crimson;
    color: white;
    border: none;
    padding: 5px
}

footer{
    background-color: rgb(70, 70, 70);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer::before{
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    right: 0px;
    height: 5px;
    background-color: var(--background-color);
}
.logo-footer{
    text-align: center;
    margin-bottom: -50px;
}

.logo-footer h2 {
    color:white
}

.droits-footer{
    color: grey
    
}

.theme-checkbox {
  --toggle-size: 6px;
  appearance: none;
  width: 6.25em;
  height: 3.125em;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 0;
  transition: 0.4s;
  border-radius: 99em;
  position: relative;
  cursor: pointer;
  font-size: var(--toggle-size);
}

.theme-checkbox::before {
  content: "";
  width: 2.25em;
  height: 2.25em;
  position: absolute;
  top: 0.438em;
  left: 0.438em;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 100%;
  border-radius: 50%;
  transition: 0.4s;
}

.theme-checkbox:checked::before {
  left: calc(100% - 2.25em - 0.438em);
  background-position: 0;
}

.theme-checkbox:checked {
  background-position: 100%;
}





